# Handle line endings automatically for text files
* text eol=lf

#Standard files
*.java text eol=lf
*.gradle text eol=lf
*.asl text eol=lf

# Windows specific
*.bat text eol=crlf

# Binary files are never touched
*.png binary
*.jpg binary
*.jar binary